@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Regular.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Bold.otf);
	font-style: normal;
	font-weight: 600;
}

body {
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin: 0%;
    padding: 0%;
    background-color: #fff3d8;

}


a {
    color: rgb(205, 9, 9);
}



/* Title Bar */
header {
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-size: 1vw;
    font-weight: 600;
    padding: .35% .5%;
    background-color: #fab040;
    border: .125em solid black;
}

.headerleft p {
    margin: 0;
}

.logo {
    float: left;
    width: 1.75%;
    margin-right: .5%;
    padding-right: .5%;
    border-right: .125em solid black;
}

header a {
    color: black;
    text-decoration: none;
}




/* Specific for about us page */
main {
    margin: 3%;
}

h1 {
    text-align: center;
}